body{

}

hr{
    display: none;
}
header{
    text-align: center;

}

.main_nav a{
    width: 200px;
}

#nav {
    /*display: none;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#nav li{
    float: left;
}
#nav li a{
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px;
    color: white;
    background-color: lightslategray;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}